.user {
    display: flex;
    text-align: center;
}

.profile-left {
    background-color: aqua;
}

.image {
    border-radius: 100%;
}

.btn1 {
    margin-top: 7%;
    color:rgba(106, 64, 41, 1);
    font-weight: bold;
    font-size: 90%;
    background-color: rgba(255, 186, 51, 1);
    width: 13vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn1:hover {
    background-color: rgba(106, 64, 41, 1);
    color: #fff;
  }


  .btn2 {
    margin-top: 7%;
    color: #fff;
    font-weight: bold;
    font-size: 90%;
    background-color: rgba(106, 64, 41, 1);
    width: 13vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn2:hover {
    background-color: rgba(255, 186, 51, 1);
    color: rgba(106, 64, 41, 1);
  }

  .btn3 {
    margin-top: 7%;
    color: rgba(106, 64, 41, 1);
    border: 1px solid rgba(159, 159, 159, 1);
    font-weight: bold;
    font-size: 90%;
    background-color: #fff;
    width: 13vw;
    height: 8vh;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn3:hover {
    background-color: rgba(255, 186, 51, 1);
    color: rgba(106, 64, 41, 1);
  }

  .text1 {
    color: rgba(106, 64, 41, 1);
    font-weight: bolder;
    font-size: 120%;
  }

  .text2 {
    color: rgba(106, 64, 41, 1);
    font-size: 90%;
  }

  